---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Noto Sans KR", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #646464;
$background-color: #fdfdfd;
$brand-color:      #004085;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    760px;

$on-palm:          700px;
$on-laptop:        940px;

$header-height-on-desktop: 90px;
$header-thick-height-on-desktop: 200px;
$title-width-on-desktop: 300px;
$link-width-on-desktop: 180px;
$search-maxwidth-on-desktop: 660px;

$header-height-on-laptop: 80px;
$header-thick-height-on-laptop: 160px;
$title-width-on-laptop: 230px;
$link-width-on-laptop: 140px;
$search-maxwidth-on-laptop: 660px;

$footer-height-on-desktop: 270px;

$breadcrumb-max-width: 900px;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

* {
  box-sizing: border-box;
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
url("//fonts.googleapis.com/earlyaccess/notosanskr.css"),
url("//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"),
"lib/normalize",
"base",
"layout",
"syntax-highlighting",
"page/index",
"layout/category"
;
