---
layout: default
thick_header: true
transparent_footer: true
---
<div class="home">
  <section class="home-faq">
    <div class="wrapper">
      <h2>자주 묻는 질문</h2>
      <div class="home-faq-wrapper">
        <div class="home-faq-item">
          <ul class="list-style">
            {% for faq in site.data.faq.student %}
            {% for post in site.categories.student %}
            {% capture path %}_posts/{{ faq.post }}{% endcapture %}
            {% if post.path == path %}
            <li><a href="{{ post.url }}#{{ faq.header | slugify }}">
              {{ faq.header }}</a></li>
            {% endif %}
            {% endfor %}
            {% endfor %}
          </ul>
        </div>
        <div class="home-faq-item">
          <ul class="list-style">
            {% for faq in site.data.faq.teacher %}
            {% for post in site.categories.teacher %}
            {% capture path %}_posts/{{ faq.post }}{% endcapture %}
            {% if post.path == path %}
            <li><a href="{{ post.url }}#{{ faq.header | slugify }}">
              {{ faq.header }}</a></li>
            {% endif %}
            {% endfor %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="home-menu">
    <div class="home-menu-wrapper">
      <a class="home-menu-item" href="{{ site.baseurl }}/student/">
        <figure>
          <img src="{{ site.baseurl }}/img/student-icon.png">
        </figure>
        <h3>수강생</h3>
        <p>강의를 수강하는데 궁금한 점이 있으신가요?</p>
      </a>
      <a class="home-menu-item" href="{{ site.baseurl }}/teacher/">
        <figure>
          <img src="{{ site.baseurl }}/img/teacher-icon.png">
        </figure>
        <h3>선생님</h3>
        <p>강좌를 개설하는데 궁금한 점이 있으신가요?</p>
      </a>
    </div>
  </section>
</div>
