<header class="site-header{% if include.thick_header %} site-header-thick{% endif %}">
  <a class="site-title" href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}/img/logo.png"> - help
  </a>
  </div>
  <div class="site-search-box">
    <div class="indicator">
      <span class="fa fa-search"></span>
    </div>
    <div class="input-wrapper">
      <input type="text" name="q" maxlength="200"
             placeholder="에듀캐스트의 궁궐에 당도한 것을 환영하오 낯선이여">
    </div>
    <div class="button">검색</div>
  </div>
  <a class="site-service-link" href="https://educast.pro">
    <span class="fa fa-reply"></span> back to educast
  </a>
</header>
