<header class="site-header{% if include.thick %} site-header-thick{% endif %}">
  <input type="checkbox" id="search-open-checker">
  <a class="site-title" href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}/img/logo.png"> - help
  </a>
  <form class="site-search-box" action="/search/">
    <div class="indicator">
      <span class="fa fa-search"></span>
    </div>
    <div class="input-wrapper">
      <input type="text" name="q" maxlength="200"
             placeholder="궁금한 내용을 검색해 주세요.">
    </div>
    <button type="submit" class="button">검색</button>
  </form>
  <a class="site-service-link" href="https://educast.pro">
    <span class="fa fa-reply"></span> back to educast
  </a>
  <label class="site-search-open-btn" for="search-open-checker">
    <span class="fa fa-search"></span>
  </label>
  <label class="site-search-close-btn" for="search-open-checker">
    <span class="fa fa-close"></span>
  </label>
  <div class="site-menu">
    <input type="checkbox" id="menu-open-checker">
    <ul class="menu">
      <li><a href="/student/">
        <i class="fa fa-user"></i> 수강생
      </a></li>
      <li><a href="/teacher/">
        <i class="fa fa-rocket"></i> 선생님
      </a></li>
      <li><a href="https://educast.pro">
        <i class="fa fa-reply"></i> 에듀캐스트로 돌아가기
      </a></li>
    </ul>
    <label class="opener" for="menu-open-checker">
      <i class="fa fa-bars"></i>
    </label>
    <label class="background" for="menu-open-checker">
    </label>
  </div>
</header>
