/**
 * Site header
 */

@mixin common-header($header-height, $header-thick-height,
  $title-width, $link-width, $search-maxwidth) {

    background-color: #009BBE;
    min-height: $header-height;
    position: relative;

    &.site-header-thick {
      min-height: $header-thick-height;
      .site-search-box {
        width: $search-maxwidth;
        margin-left: - $search-maxwidth / 2;
        left: 50%;
        bottom: 30px;
        @include media-query(
          $search-maxwidth + $spacing-unit
        ) {
          width: auto;
          margin-left: 0;
          left: $spacing-unit / 2;
          right: $spacing-unit / 2;
        }
      }
    }

    input#search-open-checker {
      display: none;
    }
    .site-search-open-btn {
      display: none;
    }
    .site-search-close-btn {
      display: none;
    }

    .site-title {
      position: absolute;
      font-size: 0.6 * $header-height - 30px;
      color: white;
      position: absolute;
      width: $title-width;
      left: $spacing-unit / 2;
      top: 20px;
      img {
        height: $header-height - 45px;
      }
      &:hover {
        text-decoration: inherit;
      }
    }

    .site-search-box {
      position: absolute;
      width: $search-maxwidth;
      left: 50%;
      margin-left: -$search-maxwidth / 2;
      height: 50px;
      bottom: ($header-height - 50px) / 2;
      border-radius: 5px;
      background-color: white;
      @include media-query(
        $title-width * 2 + $spacing-unit * 2 + $search-maxwidth
      ) {
        left: $title-width + $spacing-unit;
        margin-left: 0;
      }
      @include media-query(
        $title-width + $link-width + $spacing-unit * 2 + $search-maxwidth
      ) {
        width: auto;
        left: $title-width + $spacing-unit;
        right: $link-width + $spacing-unit;
        margin-left: 0;
      }

      .indicator {
        color: #969696;
        position: absolute;
        left: 0;
        line-height: 50px;
        padding-left: 20px;
        width: 45px;
        height: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: white;
      }

      .input-wrapper {
        position: absolute;
        left: 45px;
        right: 85px;
        height: 100%;
        input {
          border: none;
          background: white;
          outline: none;
          width: 100%;
          height: 100%;
          &:placeholder-shown {
            color: #969696;
          }
        }
      }

      .button {
        border: none;
        position: absolute;
        line-height: 50px;
        text-align: center;
        width: 85px;
        height: 100%;
        right: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #007f9b;
        color: white;
      }
    }
    .site-service-link {
      color: white;
      position: absolute;
      width: $link-width;
      right: 15px;
      top: 15px;
      font-size: $header-height / 5;
      text-align: right;
      &:hover {
        text-decoration: inherit;
      }
    }
    .site-menu {
      display: none;
    }
}

.site-header {
  @include common-header(90px, 200px, 300px, 160px, 660px);

  @include media-query($on-laptop) {
    @include common-header($header-height-on-laptop,
      $header-thick-height-on-laptop, $title-width-on-laptop,
      $link-width-on-laptop, $search-maxwidth-on-laptop);
  }

  @include media-query($on-palm) {
    min-height: 70px;
    .site-title {
      left: $spacing-unit / 2;
      font-size: 16px;
      img {height: 30px;}
    }
    .site-search-box {
      display: none;
      font-size: 14px;
      height: 30px;
      width: auto;
      left: $spacing-unit / 2;
      right: $spacing-unit / 2 * 3;
      bottom: 20px;
      margin-left: 0;
      .indicator {
        width: $spacing-unit;
        line-height: 30px;
        padding-left: 5px;
      }
      .input-wrapper {
        left: $spacing-unit;
        right: 0px;
        height: 100%;
        input {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
      .button {
        display: none;
      }
    }
    .site-service-link {
      display: none;
    }

    input#search-open-checker {
      &:checked ~ .site-search-box {
        display: inherit;
      }
      &:checked ~ .site-search-open-btn {
        display: none;
      }
      &:checked ~ .site-search-close-btn {
        display: inherit;
      }
      &:checked ~ .site-menu {
        display: none;
      }
    }
    .site-search-open-btn {
      display: inherit;
      position: absolute;
      top: 15px;
      right: $spacing-unit / 2 * 3 + 5px;
      color: white;
      font-size: 24px;
      cursor: pointer;
    }
    .site-search-close-btn {
      position: absolute;
      top: 15px;
      right: $spacing-unit / 2;
      color: white;
      font-size: 24px;
      cursor: pointer;
    }
    .site-menu {
      display: inherit;
      position: absolute;
      right: $spacing-unit / 2;
      top: 15px;
      input#menu-open-checker {
        display: none;
        &:checked ~ ul.menu {
          position: absolute;
          right: 0;
          top: 0;
          z-index: 1000;
          display: inherit;
          background-color: white;
          width: 180px;
          margin: 0;
          li {
            padding: 10px;
            list-style: none;
            line-height: 20px;
            i.fa {
              width: 20px;
            }
            a {
              color: inherit;
              padding: 10px;
              margin: -10px;
              display: block;
              &:hover, &:visited {
                color: inherit;
                text-decoration: none;
              }
            }
          }
        }
        &:checked ~ label.background {
          display: inherit;
          background-color: transparent;
          background-color: rgba(0, 0, 0, 0.3);
          position: fixed;
          z-index: 900;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
        & ~ label.background {
          display: none;
        }
        & ~ label.opener {
          cursor: pointer;
          color: white;
          font-size: 24px;
        }
      }
      .menu {
        display: none;
      }
    }

    &.site-header-thick {
      min-height: 110px;
      .site-search-open-btn {
        display: none;
      }
      .site-search-box {
        display: inherit;
        bottom: 15px;
      }
    }
  }
}


.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
  position: absolute;
  bottom: 0;
  padding: $spacing-unit 0;
  width: 100%;
  height: $footer-height-on-desktop;
  @include media-query($on-palm) {
    position: static;
    height: auto;
  }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit + $footer-height-on-desktop;
  @include media-query($on-palm) {
    padding-bottom: $spacing-unit;
  }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
  text-align: right;
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
  text-align: center;
    letter-spacing: -1px;
    line-height: 1;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


.breadcrumb {
  max-width: $breadcrumb-max-width;
  font-size: 14px;
  width: 100%;
  padding: 0 $spacing-unit / 2;
  margin: 0 auto $spacing-unit / 1.5  auto;
  ul {
    margin: 0 0 $spacing-unit / 2 0;
    li {
      list-style: none;
      display: inline-block;
    }
    li + li {
      &:before {
        content: '>';
      }
    }
  }

}
