---
layout: default
---
{% assign category = page.path | split: "/" | first %}
{% assign category_pages = site.categories[category] | sort: 'order'%}

<nav class="breadcrumb">
  <ul>
    <li><a href="{{ site.baseurl }}/">help</a></li>
    <li>
      <a href="{{ site.baseurl }}/{{ category }}/">
        {{ site.category_name_map[category] }}
      </a>
    </li>
  </ul>
</nav>

<h2>{{ site.category_name_map[category] }}</h2>
{% for post in category_pages %}
<article class="post-summary">
  <header class="post-summary-header">
    <h2 class="post-summary-title">{{ post.title }}</h2>
  </header>
  <div class="post-summary-content">
    {% assign ps_header_parts=post.content | split: "</p>" %}
    <ul>
    {% for ps_header_part in ps_header_parts %}
      {% assign possible_header = ps_header_part | split: "<p>" | first | remove: "<h4>" | remove: "</h4>" | strip %}
    {% assign possible_header_size = possible_header | size %}
    {% if possible_header_size > 0 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ possible_header }}</a>
      </li>
    {% endif %}
    {% endfor %}
    </ul>
</article>
{% endfor %}
<script>
 (function (window, anchors) {
     var item_urlify = function (item) {
         var url_part = anchors.urlify(item.text.trim());
         item.href += '#' + url_part;
     };
     var items = window.document.querySelectorAll(".post-summary-content ul li a");
     for (var i = 0; i < items.length; i++) {
         item_urlify(items[i]);
     }
 })(window, anchors);
</script>
