<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="body-wrap">
      {% include header.html thick=page.thick_header%}
      <div class="page-content">
        {{ content }}
      </div>
      {% include footer.html transparent=page.transparent_footer %}
    </div>
    <script>
    (function () {
      var searchBtn = document.querySelector('.site-search-open-btn'),
          searchInput = document.querySelector('input[name="q"]');
      searchBtn.onclick = function () {
        window.setTimeout(function () {
          searchInput.focus();
        }, 0);
      };

      var highlightHeader = (function () {
        var former;
        return function (hash) {
          var header;
          try {
            var header = document.querySelector(hash);
            window.domUtils.addClass(header, 'hl-header');
            var headerLink = header.querySelector('a');
            header.innerHTML = '<span>' + header.innerText + '</span>';
            header.appendChild(headerLink);
          } catch (e) {
          }
          if (former) {
            window.domUtils.removeClass(former, 'hl-header');
            var formerLink = former.querySelector('a');
            former.innerText = former.querySelector('span').innerText;
            former.appendChild(formerLink);
          }
          former = header;
        };
      })();
      window.domUtils.addEventListener(window, 'hashchange', function () {
        highlightHeader(location.hash);
      });
      highlightHeader(location.hash);
    })();
    </script>
  </body>
</html>
