<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="body-wrap">
      {% include header.html thick=page.thick_header%}
      <div class="page-content">
        {{ content }}
      </div>
      {% include footer.html transparent=page.transparent_footer %}
    </div>
    <script>
    (function () {
      var searchBtn = document.querySelector('.site-search-open-btn'),
          searchInput = document.querySelector('input[name="q"]');
      searchBtn.onclick = function () {
        window.setTimeout(function () {
          searchInput.focus();
        }, 0);
      };
    })();
    </script>
  </body>
</html>
